body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.wrapper {
    margin: auto 200px;
}

/* header section styling */

.header {
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 32px 50px;
    /* 50px padding from edge of div */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 32px;
    list-style-type: none;
}

/* intro section styling */

.intro {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 32px;
}

.left, .right {
    width: 400px;
    padding: 32px;
}

.title {
    font-size: 48px;
}

.copy1 {
    font-size: 18px;
}

/* info boxes section styling */


.info {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* quote section styling */

.quote {
    height: 400px;
    background-color: #d0d3da;
}

/* cta section styling */

.cta {
    height: 300px;
}

/* footer section styling */

.footer {
    height: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 18px;
}